/.vs
/src/.vs
*.db-shm
*.db-wal
/src/Savings.MAUI

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
BuildHost-net472/
BuildHost-netcore/

# Binary files safety net
*.dll
*.exe
*.pdb
*.nupkg
