@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@inherits LayoutComponentBase
<RadzenDialog />
<RadzenNotification />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <RedirectToLogin />
                    @{
                        if (ex.GetType().IsAssignableFrom(typeof(AccessTokenNotAvailableException)))
                        {
                           
                        }
                    }
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>
