@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Savings</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">

    @if (Configuration["AuthenticationToUse"] == AuthenticationToUse.AzureAD)
    {
        <LoginDisplay />
    }
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> Projection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fixed-items">
                <span class="oi oi-pin" aria-hidden="true"></span> Fixed Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/recurrent-items">
                <span class="oi oi-pulse" aria-hidden="true"></span> Recurrent Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/history">
                <span class="oi oi-clock" aria-hidden="true"></span> History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/reports">
                <span class="oi oi-document" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/configuration">
                <span class="oi oi-beaker" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@{
                Configuration["SavingsApiServiceUrl"] + "api/Savings/Backup?X-API-Key="+Configuration["ApiKey"]
}">
                <span class="oi oi-arrow-circle-bottom" aria-hidden="true"></span> Backup
            </NavLink>
        </div>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
