@page "/"
<h1>Projection</h1>
@if (materializedMoneyItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
        <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Projection</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in materializedMoneyItems)
            {
                <tr>
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.Amount.ToString()</td>
                    <td>@item.Projection.ToString()</td>
                    <td>@item.Note</td>
                </tr>
            }
        </tbody>
    </table>
}