@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Options;
@inject NavigationManager Navigation

@inject IOptionsSnapshot<RemoteAuthenticationOptions<ApiAuthorizationProviderOptions>> Options

<AuthorizeView>
    <Authorized>
        <div class="login-section">
            Hello, @context.User.Identity?.Name!<br />
            <button class="btn btn-primary" @onclick="BeginLogOut">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-section">
            <a href="authentication/login" class="btn btn-primary">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout(Options.Get(
            Microsoft.Extensions.Options.Options.DefaultName)
            .AuthenticationPaths.LogOutPath);
    }
}
