@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

<RadzenComponents />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
