.end-period {
    font-weight: bold;
    background-color: #60368e !important;
    color: white !important;
}

.done-item {
    color: #35aa17;
}

.done-projection {
    font-weight: bold;
}


.edit-adjustment {
    cursor: pointer;
}

.text-none {
    color: #0159cc;
}


.important-amount {
    border: 2px solid #ff9613 !important;
}

.materialize-history {
    cursor: pointer;
}


.materialize-history-delete {
    cursor: pointer;
}


.table tbody td.ellipses {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

    .table tbody td.ellipses:hover {
        text-overflow: clip;
        white-space: normal;
        word-break: break-all;
    }


.login-section {
    color: white;
    padding: 20px 20px 0px 20px;
}