.end-period {
    font-weight: bold;
    background-color: #60368e !important;
    color: white;
}

.done-item {
    color: #35aa17;
}

.done-projection {
    font-weight: bold;
}


.edit-adjustment {
    cursor: pointer;
}
