.end-period {
    font-weight: bold;
    background-color: #60368e !important;
    color: white !important;
}

.done-item {
    color: #35aa17;
}

.done-projection {
    font-weight: bold;
}


.edit-adjustment {
    cursor: pointer;
}

.text-none {
    color: #0159cc;
}


.important-amount {
    border: 2px solid #ff9613 !important;
}

.materialize-history{
    cursor: pointer;
}
