.end-period {
    font-weight: bold;
    background-color: #60368e !important;
    color: white !important;
}

.done-item {
    color: #35aa17;
}

.done-projection {
    font-weight: bold;
}


.edit-adjustment {
    cursor: pointer;
}

.text-none {
    color: #0159cc;
}


.important-amount {
    border: 2px solid #ff9613 !important;
}

.materialize-history {
    cursor: pointer;
}


.materialize-history-delete {
    cursor: pointer;
}


.table tbody td.ellipses {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

    .table tbody td.ellipses:hover {
        text-overflow: clip;
        white-space: normal;
        word-break: break-all;
    }


.login-section {
    color: white;
    padding: 20px 20px 0px 20px;
}

.rz-switch > .rz-helper-hidden-accessible {
    display: none;
}

.item-action {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .mobile-resume table, .mobile-resume thead, .mobile-resume tbody, .mobile-resume th, .mobile-resume td, .mobile-resume tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        .mobile-resume thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .mobile-resume tr {
        border: 1px solid #ccc;
    }

    .mobile-resume td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 30%;
        white-space: normal;
        text-align: left;
        padding-top: 0px;
        padding-bottom: 0px;
    }

        .mobile-resume td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 2px;
            left: 2px;
            bottom: 2px;
            width: 29%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        /*
	Label the data
	*/
        .mobile-resume td:before {
            content: attr(data-title);
        }
}