@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Savings Projection</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> Projection
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/fixed-items">
                <span class="oi oi-pin" aria-hidden="true"></span> Fixed Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/recurrent-items">
                <span class="oi oi-pulse" aria-hidden="true"></span> Recurrent Items
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/history">
                <span class="oi oi-clock" aria-hidden="true"></span> History
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/reports">
                <span class="oi oi-document" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@{Configuration["SavingProjectionApiServiceUrl"] + "api/SavingsProjection/Backup?X-API-Key="+Configuration["SavingProjectionApiKey"]}">
                <span class="oi oi-arrow-circle-bottom" aria-hidden="true"></span> Backup
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
